@using TravelTripProje.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Iletisim>
@{
    ViewBag.Title = "IletisimListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>IletisimListesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Tarih</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Tarih.ToString("dd/MM/yyyy")</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/IletisimSil/@x.Id" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("IletisimListesi", new { sayfa }))
<br />

