@using TravelTripProje.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Yorumlar>
@{
    ViewBag.Title = "OnayBekleyenYorumlarListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@Html.Action("YorumlarNavbar", "Admin")
<h2>OnayBekleyenYorumlarListesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Yorum</th>
        <th>Blog</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Onayla</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.KullaniciAdi</td>
            <td>@x.Mail</td>
            <td>@x.Yorum</td>
            <td>@x.Blog.Baslik</td>
            <td><a href="/Admin/YorumSil/@x.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@x.Id" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Admin/YorumOnayla/@x.Id" class="btn btn-success">Onayla</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("OnayBekleyenYorumlarListesi", new { sayfa }))
<br />

